{% extends "base.html" %}
{% load static %}
{% block head %}
    <link href="{% static "css/ab_3/ab_3.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "css/ab_2/ab_2.css" %}" type="text/css" rel="stylesheet"/>
    <link href="{% static "css/Profile/Profile.css" %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block title %}
    {{ name }}
{% endblock %}

{% block content %}
    {% csrf_token %}
    <br><br>
    <div class="container-fluid" id="rcorners1">
        <h4>Nama: {{ name }}</h4>
        <h4>Email: <span id="email">{{ email }}</span></h4>
        <button type="button" class="btn btn-primary aa " id="rcorners3" onclick="listDonation('{{ email }}')" data-toggle="modal" data-target="#myModal">
            List Donasi
        </button>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="d-flex flex-wrap align-content-start start">

                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'js/Profile/donation.js' %}"></script>
{% endblock %}