{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<link href="{% static "css/ab_3/ab_3.css" %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block title %}
{{ judul }}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">
<br>
    <!-- Portfolio Item Heading -->
    <h1 class="my-4" style="margin-bottom: 0.5rem!important;">
        <small>AyoBantu</small>
        <br>
        {{ judul }}
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="{{ foto }}" alt="" width="600" style="height: 400px">
            <p>{{ isi }}</p>
        </div>

        <div class="col-md-4">
            <h3 class="my-3" id="kanan">Terkumpul</h3>
            <h1 class="my-3" id="kanan2">Rp {{ sekarang |  intcomma }}</h1>
            <h4 class="my-3"><span id="kanan">dari</span><span id="kanan1"> Rp {{ target | intcomma }}</span></h4>
            <div class="progress" style="height:20px">
                <div class="progress-bar" role="progressbar" id="front" aria-valuenow="{{ sekarang }}"
                     aria-valuemin="0" aria-valuemax="{{ target }}" style="width:{{ percent }}%">
                </div>
                <div class="progress-bar" role="progressbar" id="back" style="width:{{ sisa }}%">
                </div>
            </div>
            <a href="/donasikan/{{judul}}"><button type="button" class="btn btn-warning btn-lg">AyoBantu!</button></a><br>
            <button type="button" class="btn btn-biru">Share</button>
        </div>
    </div>
<br>
<br>
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary btn-lg aa" data-toggle="modal" data-target="#myModal">
  DONATUR
</button>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Donatur: {{ donatur }} orang</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <div class="d-flex flex-wrap align-content-start">
          {% for i in listDonatur %}
              <div class="p-2">{{ i.name }}</div>
        {% endfor %}
      </div>


      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<br><br>
</div>
{% endblock %}