table {
    margin: 0 auto;
}

.right {
    transform: translate(8px,0);
}

.column {
    float: left;
    width: 49%;
    padding-right: .5rem;
    padding-left: .5rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    padding: 20px;
}

.btn-width {
	color: white;
    width: 25%;
}

#rcorners1 {
	color: #324C4D;
    margin-top: 8%;
    margin-bottom: 5%;
    border-radius: 25px;
    background: #00C6CF;
    padding: 20px;
    width: 30%;
    min-width: 300px;
    height: 60%;
    display: block;
}

#rcorners2 {
	text-align: center;
	margin-left: 33%;
	margin-right: auto;
    border-radius: 10px;
    background: #F77600;
    padding: 0px;
    width: 30%;
    height: 50px;
}
#default:hover{
    cursor: not-allowed;
}