body {
  background-color: #f5f5f5;
}

h2 {
  font-family: 'Nunito', sans-serif;
  color: #F77600;
}

h3 {
  font-family: 'Nunito', sans-serif;
  color: #f5f5f5;
}

header p {
  font-family: 'Mada', sans-serif;
  color: #f5f5f5;
}

p{
  font-family: 'Mada', sans-serif;
}

.prog h2 {
  padding-top: 4px;
}
.item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

.card-img-top {
  width: 100%;
  object-fit: cover;
}

.card-title h6{
  color:#F77600;
}

.card-text {
  color: #f5f5f5;
}
.card-body, .card-footer {
  background-color: #c4c4c4!important;
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
  .carousel-caption {
    padding-bottom: 0px;
  }
  .carousel-inner {
      width:100%;
      height:auto;
      padding-top:30px;
  }
  header p {
    display: none;
  }
  header a {
    margin-bottom: 0px;
    font-size: 0.5rem;
  }
  header h3 {
    font-size: 0.7rem;
    margin-bottom: 0px;
  }
  header h2 {
    font-size: 1rem;
    margin-bottom: 1px;
  }

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .carousel-caption {
    padding-bottom: 0px;
  }
  .carousel-inner {
      width:100%;
      height:auto;
      padding-top:30px;
  }
  header a {
    margin-bottom: 0px;
    
  }
  header h3 {
    
    margin-bottom: 0px;
  }
  header h2 {
    
    margin-bottom: 1px;
  }
}

@media only screen and (max-width: 800px) {
  .carousel-caption {
    padding-bottom: 10px;
  }
  .carousel-inner {
      width:100%;
      height:auto;
      padding-top:30px;
  }
  header a {
    font-size: 0.7rem;
  }
  header h3 {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  header h2 {
    font-size:2rem;
    margin-bottom: 1px;
  }
  header p {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 548px) {
  .carousel-caption {
   padding-bottom: 0px;
  }
  .carousel-inner {
      width:100%;
      height:auto;
      padding-top:0px;
  }
  header a {
    font-size: 0.7rem;
  }
  header h3 {
    font-size: 0.6rem;
    margin-bottom: 0px;
  }
  header h2 {
    font-size:1rem;
    margin-top: 0px;
  }
  header p {
    font-size: 0.5rem;
    margin-bottom:0px;
  }
}
