small {
    font-size: 50%;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #00C6CF;
}

.btn-warning{
    background-color: #F77600;
    color: #f5f5f5;
}

.btn-lg {
    border-radius: 10px;
}

.btn{
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.btn-biru{
    color: #f5f5f5;
    background-color: #00C6CF;
    margin-top: 1rem;
    border-radius: 10px;
}


.progress{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h1, h3, h4{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Mada', sans-serif;
    font-weight: 700;
}

.my-4 {
    color: #324B4C;
}

#kanan{
    color: #00C6CF;
}

#kanan1{
    color: #324B4C;
}

#kanan2{
    color: #068488;
}

.progress-bar{
    border-radius: 1px;
}
#front{
    background-color: #068488;
}

#back{
    background-color: #324B4C;
}

p{
    padding-right: 10px;
}
.aa{
    width: 50%;
    background-color: #068488;
    border-color: #00C6CF;
    box-shadow: #00c6cf;
}

.p-2{
    background-color: #00c6cf;
    margin-right: 10px;
    border-radius: 10px;
}