#head {
    margin-top: 80px;
}

#paper {
	color:#FFF;
	font-size:20px;
}

#text {
    margin-top: 10px;
  width: 100%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}
.load-hidden {
	visibility: hidden;
}

#button {
	cursor:pointer;
	margin-top:20px;
	float:right;
	height:40px;
	padding-left:24px;
	padding-right:24px;
	/* font-family:Arial, Helvetica, sans-serif; */
	font-weight:bold;
	font-size:20px;
	color:#FFF;
	/* text-shadow: 0px -1px 0px #000000; */
	-webkit-border-radius:8px;
	border-radius:8px;
	/* border-top:1px solid #FFF;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000; */
	background-color: #00C6CF;
	background-image:url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
	background-repeat:repeat-x;
}

#button:active {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

#button:focus {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}

#wrapper {
	width:80%;
	height:auto;
	margin-left:10%;
	margin-right:10%;
	margin-top:24px;
	margin-bottom:100px;
}

#wrapper2 {
    width:80%;
	height:auto;
	margin-left:10%;
	margin-right:10%;
	margin-top:0px;
	margin-bottom:20px;
    background-color:#00C6CF;
    border-radius:8px;
}

#inwrap2 {
    margin-left:3%;
    margin-right:3%;
    width: :94%;
    height:auto;
}
