{% extends "base.html" %}
{% load static %}
{% block head %}
<link href="{% static "css/ab_2/ab_2.css" %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block title %}
Donasikan
{% endblock %}
{% block content %}
<body>
<div class="container-fluid" id="rcorners1">
    <h2 align="center" class="text-white">Donation for</h2>
	<h2 align="center" class="text-white">{{judul}}</h2> <br>
    Nama: <br><input class="form-control" type="text" value="{{ nama }}" disabled id="default"><br>
    Email:<br><input class="form-control" type="text" value="{{ email }}" disabled id="default"><br>
    <form method="POST" validate action="{{ judul }}">
		{% csrf_token %}
		{{ form }}
		<!-- <input type="checkbox" name="Anonymous" value="Anonymous"> Jangan tampilkan nama saya<br> -->
		<br>
		<button type="submit" class="center btn-width" id="rcorners2">Donate</button>
    </form>
</div>
</body>
{% endblock %}
