{% extends "base.html" %}
{% load static %}
{% block head %}
<link href="{% static 'ab_5/ab_5.css' %}" type="text/css" rel="stylesheet"/>
<script src="https://unpkg.com/scrollreveal"></script>
<script>
        ScrollReveal({ reset: true })
</script>
{% endblock %}
{% block title %}
About Us
{% endblock %}
{% block content %}
<body>
    <div class="container">
        
            <div id="first"class="section load-hidden mt-5 row">
                <div class="col-lg-4 col-12">
                    <img style="padding:20px" src="https://i.imgur.com/dDwRXB1.png" class="img-fluid">
                </div>
                <div style="margin-top:80px" class="col-12 col-lg-8">
                        
                        <h1  class="font-weight-bold font-italic">A kind gesture can reach a wound that only compassion can heal.</h1>
                        <p>AyoBantu adalah platform crowdfunding dibawah yayasan SinarPerak yang bertujuan untuk membantu
                                penggalangan dana bagi orang yang membutuhkan di lokasi-lokasi bencana.</p>
                </div>
            </div>
            <div id="second" class=" section load-hidden row">
                <div style="margin-top:80px" class="text-right col-12 col-lg-8">
                        <h1 class="mb-2 font-weight-bold font-italic">Help others in just one click</h1>
                        <p>Sekarang niat baikmu bisa lebih mudah terlaksana! Hanya dengan memilih program, kamu bisa langsung memberikan bantuanmu kepada yang membutuhkan.</p>
                </div>
                <div class="col-lg-4 col-12">
                    <img style="padding:20px" src="https://i.imgur.com/tkrCOIr.png" class="img-fluid">
                </div>
            </div>
            <div id="third" class=" section row load-hidden">
                <div class="col-lg-4 col-12">
                    <img style="padding:20px" src="https://i.imgur.com/DxCa5BS.png" class="img-fluid">
                </div>
                <div style="margin-top:80px" class="col-lg-8 col-12">
                        
                        <h1  class="font-weight-bold font-italic">We help. <span id="any1"class="load-hidden">Anywhere. </span> <span id="any2" class="load-hidden">Anytime.</span> </h1>
                        <p>Salurkan bantuanmu lewat AyoBantu dari rumah, kantor, atau dari belahan bumi manapun.</p>
                </div>
            </div>
            <div id="fourth"class="section row load-hidden">
                <div class="col-12">
                <div class="text-center">
                        <h1 class="font-weight-bold">We <span id="create"class="load-hidden">the Creators</span></h1>
                </div>
                </div>
                <div class="mx-5 row">
                        <div class="col-xl-3 col-12">
                                <img class="img-fluid rounded-circle" src="https://i.imgur.com/dPCQeL9.jpg">
                                <div class="text-center">
                                    <h5 class="mt-3">Akhmad Ramadhan Yamin</h5>
                                </div>
                            </div>
                            <div class="col-xl-3 col-12">
                                    <img class="img-fluid rounded-circle" src="https://i.imgur.com/YtIlQMi.jpg">
                                    <div class="text-center">
                                        <h5 class="mt-3">Edrick Lainardi</h5>
                                    </div>
                            </div>
                            <div class="col-xl-3 col-12">
                                    <img class="img-fluid rounded-circle" src="https://i.imgur.com/3fZKa4h.jpg">
                                    <div class="text-center">
                                            <h5 class="mt-3">Fakhira Devina</h5>
                                    </div>
                                    
                            
                            </div>
                            <div class="col-xl-3 col-12">
                                    <img class="img-fluid rounded-circle" src="https://www.cvlandtrust.ca/wp-content/uploads/2016/08/Avatar-1.png">
                                    <div class="text-center">
                                        <h5 class="mt-3 text-center">Michael Wiryadinata Halim</h5>
                                    </div>
                            </div>
                        
    
                </div>
            </div>
            
    </div>

    <div class="section comment container load-hidden">
        <div class="row">
            <div class="text-center col-12 mt-3">
                    <h1 class="font-weight-bold">About us <span id="you" class="load-hidden" >from You</span></h1>
            </div>
                
                <div id="wrapper2" class="text-white">
                        <div class="input" id="inwrap2">
                            
                            <br>
                        {% for object in messages %}
                            <div>
                                <h4>{{ object.name }}</h4> posted on {{ object.time }}
                                <h5>{{ object.message }}</h5>
                            </div>
                        {% endfor %}
                        </div>
                        <br>
                    </div>
                    <div id="wrapper">
                        <form method="post" id="paper">
                            {% csrf_token %}
                            {{ form.message }}<br>
                            {% if user.is_authenticated %}
                            <button class="btn btn-submit"type="submit" id="button"> Submit </button>
                            {% endif %}
                        </form>
                    </div>
        </div>
    </div>
    

</body>
{% endblock %}
{% block script %}
<script src="{% static 'ab_5/ab_5.js' %}"></script>
<script>
    ScrollReveal().reveal('#first', { duration: 200 });
    ScrollReveal().reveal('#second', { duration: 200 });
    ScrollReveal().reveal('#third', { duration: 200 });
    ScrollReveal().reveal('#any1', { duration: 1000 });
    ScrollReveal().reveal('#any2', { duration: 3000 });
    ScrollReveal().reveal('#fourth', { duration: 200 });
    ScrollReveal().reveal('#create', { duration: 2000 });
    ScrollReveal().reveal('.comment', { duration: 200 }); 
    ScrollReveal().reveal('#you', {duration: 2000});

    
</script>
{% endblock %}
