{% extends "base.html" %}
{% load static %}
{% block head %}
<link href="{% static "css/ab_4/ab_4.css" %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block title %}
Daftar Donatur
{% endblock %}
{% block content %}
<body>
<div class="container-fluid" id="rcorners1">
    <h2 align="center" class="text-white">Sign Up</h2> <br>
    <form method="post">
        <table>
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                <div class="column right">
                    {{ form.first_name }}
                </div>
                <div class="column right">
                    {{ form.last_name }}
                </div>
            </div> <br>
            {{ form.birthDay }}
            {{ birthDay.help_text }} <br>
            {{ form.email }} <br>
            {{ form.password }} <br>
            <tr colspan=2>
                    
                <button type="submit" class="center btn-width" id="rcorners2">Submit</button>
                
            </tr>
            <tr></tr>
            <tr colspan=2>
                
                <div class="text-center">
                        <h6 class="text-white">Or</h2>
                        <a href= "{% url 'social:begin' 'google-oauth2' %}" style="margin-right: 10px;color: white"class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Sign in with Google
                        </a>        
                </div>
                <br>
            </tr>
                    
        </table>
    </form>
</div>
</body>
{% endblock %}
