{% extends "base.html" %}

{% load static %}
{% block head%}
  <link href="{% static "css/ab_1/ab_1.css" %}" type="text/css" rel="stylesheet"/>
  {% block title%}
  AyoBantu!
  {%endblock%}
{% endblock%}
{% block content %}
<header>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner responsive">
        {% for item in news %}
        <div class="item carousel-item {% if forloop.first %} active{% endif %}">
          <img class="sld d-block w-100 responsive" src={{item.gambar}}>
          <div class="carousel-caption " style="text-align: left !important">
              <h2>ApaKabar</h2>
              <h3>{{item.judul}}</h3>
              <p>{{item.snippet}}</p>
              <a href={{item.readmore}} target="_blank">Read More</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
    
</header>
<div class="container">

    <div class="row">
      {% for item in donationPrograms %}

        <div class="col-lg-6 col-sm-6 col-12 my-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top responsive" src= {{item.gambar}} alt={{item.judul}}></a>
            <div class="card-body">
              <h4 class="card-title">
                <h6>AyoBantu</h6>
                <h2 class="prog">{{item.judul}}</h2>
              </h4>
              <p class="card-text">{{item.isi}}</p>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <a href="/program/{{item.judul}}" class="btn btn-primary" style="background-color: #F77600; border-color: #F77600">AyoBantu!</a>
                </div>
            </div>
          </div>
        </div>

        {% endfor %}
   
      </div>
</div>


{% endblock %}