<div class="py-5 bg-dark" style="background-color: #00c6cf !important">
      <div class="container">
      	<div class="row ftr text-justify">
      		<div class="col-lg-3 col-md-12 col-sm-12 col-12">
						<h6><span style="color:#F77600">AyoBantu </span>by SinarPerak</h6>
						<p class="m-0">Kampus UI Depok, Pondok Cina, Beji, Kota Depok, Jawa Barat 16424</p>
						<p class="m-0">0812-7734-890</p>
						<p class="m-0">contact@ayobantu.com</p><br>
			  	</div>
			  <div class="col-sm col-md-2 col-lg-3"></div>
			  <div class="col-sm-12 col-lg-6 col-sm-8">
				<h6>Tentang<span style="color:#F77600"> AyoBantu</span></h6>
				<p class="m-0">AyoBantu adalah platform crowdfunding dibawah yayasan SinarPerak yang bertujuan untuk membantu
					penggalangan dana bagi orang yang membutuhkan di lokasi-lokasi bencana. 
				</p>
			  </div>
			  
				 
			  </div>
			  <div class="row">
				  <div class="col-4"></div>
					<div class="col-4 col-md">
						  <div class="text-center">
								  <h6 class="mb-3 cr" style="color: #078488 !important;
								  padding-top:30px;">AyoBantu by SinarPerak © 2018</h6>
						  </div>
					</div>
					<div class="col-4 sc text-right">
						<h6>Temukan kami di</h6>
						<div style="display:flex;">
							<ul class="social-network social-circle">
								<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						
					</div>
      	</div>
        
	  </div>
</div>