<div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #00c6cf !important">
      <div class="container">
        <a class="navbar-brand text-white" href={% url 'ab_1:homepage' %}>AyoBantu</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {%if user.is_authenticated%}
              <li class="nav-item">
                  <a class="nav-link text-white" href={% url 'ab_5:aboutus' %}>About Us</a>
              </li>
              <li class="nav-item">
                <a href="{%url 'profile'%}" class="nav-link text-white">Halo, {{user.first_name}} {{user.last_name}}</a>
              </li>
              <li class=" mx-3 nav-item">
                  <a href= "{% url 'ab_1:logout'%}" class="nav-link text-white">Log Out</a>
              </li>


              {%else%}
              <li class="nav-item">
                <a class="nav-link text-white" href={% url 'ab_5:aboutus' %}>About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href={% url 'ab_4:daftardonatur' %}>Daftar Donatur</a>
              </li>
              {%endif%}
          </ul>
        </div>
      </div>
    </div>
