table {
    margin: 0 auto;
}

.right {
    transform: translate(8px,0);
}

.column {
    float: left;
    width: 49%;
    padding-right: .5rem;
    padding-left: .5rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    padding: 20px;
}

.btn-width {
    width: 25%;
}

#rcorners1 {
    margin-top: 8%;
    margin-bottom: 5%;
    border-radius: 25px;
    background: #00C6CF;
    padding: 20px;
    width: 50%;
    min-width: 300px;
    height: 70%;
    display: block;
}

#rcorners2 {
    margin-left: 37%;
    border-radius: 10px;
    background: #F77600;
    padding: 10px;
    width: 25%;
    height: 5%;
}
